Repository hsq-emilkarlsson/hsq-forms-api: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-dev.yml, azure-pipelines-infra.yml, azure-pipelines-simplified.yml, azure-pipelines.yml

azure-pipelines-dev.yml:
  stages:
  - stage: Test
    displayName: Test Application
    jobs:
    - job: TestCode
      displayName: Run Tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: $(pythonVersion)
        displayName: Use Python $(pythonVersion)
  ...

azure-pipelines-infra.yml:
  stages:
  - stage: ValidateBicep
    displayName: Validera Bicep-mall
    jobs:
    - job: ValidateTemplates
      displayName: Validera infrastruktur-template
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - task: AzureCLI@2
        displayName: Validera Bicep-mall
        inputs:
  ...

azure-pipelines-simplified.yml:
  stages:
  - stage: Test
    displayName: Test Application
    jobs:
    - job: TestCode
      displayName: Run Tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.11'
          displayName: Use Python 3.11
  ...

azure-pipelines.yml:
  stages:
  - stage: Test
    displayName: Test Application
    jobs:
    - job: TestCode
      displayName: Run Tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: $(pythonVersion)
          displayName: Use Python $(pythonVersion)
  ...

Uppdatera pipeline för befintlig infrastruktur och förbered för formulärdistribution
  README.md
  azure-pipelines-dev.yml
  forms/README.md
  tests/test_azure_integration.py
Due: azure-pipelines-dev.yml

Fix: robust pipeline deploy via Kudu API, dynamisk SCM-url, jq-installation
  .env.example
  azure-pipelines-dev.yml
  requirements.txt
  scripts/test-azure-connection.py
Due: azure-pipelines-dev.yml, azure-pipelines-simplified.yml, azure-pipelines.yml

Rensa projektet: behåll endast en pipeline-fil och en bicep-fil
  azure-pipelines-dev.yml
  backup-cleanup/azure-pipelines-infra.yml
  backup-cleanup/azure-pipelines-prod.yml
  backup-cleanup/azure-pipelines-simplified.yml
  backup-cleanup/azure-pipelines.yml
  backup-cleanup/infra/approaches/01-default/main.bicep
  backup-cleanup/infra/approaches/01-default/main.parameters.dev.json
  backup-cleanup/infra/approaches/01-default/main.parameters.prod.json
  backup-cleanup/infra/approaches/02-minimal/main.bicep
  backup-cleanup/infra/approaches/02-minimal/main.parameters.dev.json
  backup-cleanup/infra/approaches/03-no-vnet/main.bicep
  backup-cleanup/infra/approaches/03-no-vnet/main.parameters.dev.json
  backup-cleanup/infra/approaches/04-minimal-vnet/main.bicep
  backup-cleanup/infra/approaches/04-minimal-vnet/main.parameters.dev.json
  backup-cleanup/infra/approaches/05-secure/main.bicep
  backup-cleanup/infra/approaches/05-secure/main.parameters.dev.json
  backup-cleanup/infra/approaches/06-avm/main.bicep
  backup-cleanup/infra/approaches/06-avm/main.parameters.dev.json
  backup-cleanup/infra/approaches/07-ready/main-ready.bicep
  backup-cleanup/infra/approaches/07-ready/main-ready.parameters.dev.json
  backup-cleanup/infra/approaches/08-appservice/main-appservice.bicep
  backup-cleanup/infra/approaches/08-appservice/main-appservice.parameters.dev.json
  backup-cleanup/infra/approaches/README.md
  backup-cleanup/infra/main-appservice-vnet.bicep
  backup-cleanup/infra/main-appservice.bicep
  backup-cleanup/infra/main.bicep
Due: azure-pipelines-dev.yml

Uppdatera dokumentation och markera projektet som redo för deployment
  README.md
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Uppdaterat pipeline för Static Web App deployment för alla formulär
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Uppdaterat Front Door URL till hsq-forms-dev-e8g5hhgpfwgabsg5.a03.azurefd.net i alla relevanta filer
  .env.example
  README.md
  azure-pipelines-dev.yml
  forms/README.md
Due: azure-pipelines-dev.yml

Lagt till API-nyckel support i formulär och uppdaterat pipeline-konfiguration
  azure-pipelines-dev.yml
  forms/hsq-forms-container-b2b-feedback/src/components/B2BFeedbackForm.tsx
  forms/hsq-forms-container-b2b-feedback/src/vite-env.d.ts
Due: azure-pipelines-dev.yml

Fix: Åtgärdat syntax i azure-pipelines-dev.yml genom att lägga till FormOperations stage
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Fix: Åtgärdat YAML-syntaxproblem i azure-pipelines-dev.yml
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Fix: Förenklad pipeline för att åtgärda YAML-valideringsproblem
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Uppdaterat pipeline med komplett API-deployment och form-byggsteg
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Fix: Åtgärdat problem med python-magic-bin genom att installera libmagic-dev
  azure-pipelines-dev.yml
  requirements.txt
Due: azure-pipelines-dev.yml, azure-pipelines-simplified.yml, azure-pipelines.yml

Fix App Service deployment for VNet integration and private endpoints
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Uppdaterad pipeline-konfiguration för VNet/private endpoint-kompatibel deployment
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Installera Azure Static Web Apps CLI-extension före deployment
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Byt till Static Web Apps CLI (swa) för form-deployment
  azure-pipelines-dev.yml
Due: azure-pipelines-dev.yml

Lägg till diagnostikverktyg för API och formulärkommunikation
  forms/hsq-forms-container-b2c-returns/index.html
  scripts/README_DIAGNOSTICS.md
  scripts/api-diagnostics.sh
  scripts/hsq-forms-debugger.js
Due: azure-pipelines-dev.yml

Lägg till specialiserad nätverks- och Front Door-diagnostik
  scripts/network-diagnostics.sh
Due: none

Konfigurerat projekt för att använda befintlig Front Door och uppdaterat CORS-inställningar
  scripts/setup-frontdoor-standard.sh
  scripts/setup-frontdoor.sh
  scripts/test-direct-api-access.sh
  scripts/test-frontdoor-integration.sh
  scripts/update-forms-env.sh
  scripts/update-forms-frontdoor-url.sh
  scripts/update-forms-with-existing-frontdoor.sh
Due: none

Path conditions:
  azure-pipelines-dev.yml: any of: src, infra, main.py, requirements.txt, alembic, azure-pipelines-dev.yml, forms
  azure-pipelines-infra.yml: any of: infra, azure-pipelines-infra.yml
  azure-pipelines-simplified.yml: any of: src, infra, Dockerfile, Dockerfile.prod, requirements.txt, azure-pipelines-simplified.yml
  azure-pipelines.yml: any of: src, infra, main.py, requirements.txt, alembic, azure-pipelines.yml
